body{
  background-color: white;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  
}
#about{
  background-color: white;
  width: 300px;
  height: 140px;
  
}
h4{
  color: #E49C90;
  font-size: 35px;
  font-family: 'Brush Script MT', cursive;
  
}
p{
  color: black;
}
li{
  color: black;
}
ul{
  color: black;
}
