body{
  background-color: white;
  font-family: verdana;
  font-size: 15px;
  
}
#about{
  background-color:#d2d4d4;
  width:300px;
  height:140px;
  
}
h3{
  color: black;
}
p{
  color: black;
}
li{
  color: black;
}
ul{
  color: black;
}